.buttonGroup {
  display: flex;
  gap: 15px;
  margin-bottom: 40px;
}

.button {
  background-color: #5d3d57;
  color: rgb(254, 250, 226);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #6e4b68;
}
