.popupOverlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popupContent {
  margin-top: 10vh;
  background-color: #f1f5e6;
  border-radius: 12px;
  width: 80%;
  max-width: 800px;
  min-height: 500px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 15px;
  left: 15px;
  background: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #ffffff;
  z-index: 11;
  transition: 0.4s;
}

.closeButton:hover {
  color: #ff5a5a;
  scale: 1.1;
}

.close{
  width: 30px;
  height: 30px;
}


.recipeImageContainer {
  position: relative;
  width: 100%;
  height: 250px; 
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.recipeImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heartButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.heartButton:hover {
  background-color: #ff5a5a;
  color: white;
}

.recipeDetails {
  padding: 10px;

  overflow-y: auto; 
}

.recipeTitle {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.infoBlock {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-weight: 600;
  color: #666;
}

.text{
  color: #333;
}
.icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.columns {
  display: flex;

}

.ingredients, .instructions {
  height: 200px;
  overflow-y: auto; 
}

.subTitles {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #283618;
}

.ingredients {
  width: 40%;


}

.instructions {
  width: 60%;

}

.listIngredients {
  list-style-type: disc;
  margin: 0;
  padding-left: 30px;
}

.yap{
  color: black;
  font-size: 1.2rem;
}

.cookButton {
  width: 100%;
  padding: 15px;
  background-color: #269224;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
  justify-self: center;
}

.cookButton:hover {
  background-color: #1b6e17;
}


@media (max-width: 450px) {
  .recipeImageContainer {
    height: 200px;
  }

  .recipeTitle {
    font-size: 1.5rem;
  }

  .infoBlock {
    flex-direction: column;
    gap: 10px;
  }

  .columns {
    flex-direction: column;
  }


  .ingredients, .instructions {
    width: 100%;
    height: 150px;
    min-height: 00px;
    border-top: 5px dotted var(--text-color-brown);  
  }

  .popupContent {
    height: fit-content;
    min-height: 250px;
  }


.close{
  width: 45px;
  height: 45px;
}


}