* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary-color: #269224;
  --secondary-color: #84BD00;
  --text-color-brown: #592941;
  --background-color: #F8FFE9:



   

  
    --background-color: #F8FFE9; /* Color de fondo */
    --clear-text: #FEFAE0; /* Color del texto */
    --green-text: #283618;
  
    --recipes: hsla(90, 49%, 62%, 0.30);
    --green-button: #024F00;


    /*Colores de Expiracion*/
    --exp-now: hwb(0 13% 41% / 0.70 ); /* Color de expiracion pronto */
    --exp-soon: hsla(29, 86%, 30%, 0.70);
    --exp-med: hsla(61, 81%, 29%, 0.70);
    --exp-late: hsla(131, 22%, 29%, 0.70);
    --exp-really-late: hsla(131, 71%, 23%, 0.70);

    font-family: 'Source Serif 4', serif;
  
  
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #F8FFE9;
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
